
/*==========================================================================================================================*/
@media(min-width: 320px) and (max-width: 576px){
    .img-quem {
        width: 180px;
    }
}

/*==========================================================================================================================*/
@media(min-width: 577px) and (max-width: 768px){
    .img-quem {
        width: 270px;
    }
}

/*==========================================================================================================================*/
@media(min-width: 769px) and (max-width: 992px){  

}

/*==========================================================================================================================*/
@media(min-width: 993px) and (max-width: 1200px){
	
}

/*==========================================================================================================================*/
@media(min-width: 1201px) {
  	
}
/*==========================================================================================================================*/
@media(min-width: 1114px) {
    .img-quem1 {
        padding-top: 60px;
      }
      .img-quem2{
          padding-top: 120px;
      }
      .img-quem3 {
        padding-top: 0px;
      }
  }