#Banner_principal {
    background-image: url("../assets/img/Grupo\ 155.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    
}

/*FOOTER*/
footer{
    background-image: url("../assets/img/bg-footer.svg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 735px;
    position: relative;
    font-family: Source Sans Pro;
    color: #fff;
    display: flex;
}

footer h3{
    font-weight: 500;
}

.footer-bar{
    width: 100%;
    height: 80px;
    background-color: #0C2E41;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.footer-barr-content{
 
    display: flex;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
   
}

.footer-barr-content p{
    margin-bottom: 0px;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 24px;
 }

.icons-footer{
    margin-right: 15px;;
}

.group-end{
    display: flex;
    align-items: flex-start;
    font-size: 20px;
}


.group-end p span{
   font-weight: bold;
   
}

.group-end p{
    font-weight: 500;
  
 }

 .icons-social{
    display: flex;
    justify-content: space-around;
 }

 .group-atend{
    display: flex;
    align-items: center;
    font-size: 20px;
    border: solid 2px #38B6AB;
    width: 80%;
    padding-left: 20px;
    padding-top: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
 }

 .group-atend img{
     margin-right: 20px;
 }

 .group-atend p span{
    font-weight: bold;
 }

 .group-rodape-dir{
     display: flex;
     align-items: center;
     margin-bottom: 20px;
}

.group-rodape-dir p{
    margin-bottom: 0px;
    font-size: 20px;
}

.group-rodape-dir img{
    margin-right: 15px;
}

/*FIM FOOTER*/

.navbar {
  display: flex;
  justify-content: space-between;
}

.menu {
  color: #38B6AB;
}

#btn_menu {
  border: none!important;
}

#btn_acesso {
  background-color: #38B6AB;
  border-radius: 0px 0px 10px 10px;
  float: right;
  margin-right: 20%;
  border: none;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
}

.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #404040;
  position: absolute;
  left: -20%;
  background-color: #38B6AB;
}

#ind1 {
  bottom: 28rem;
}

#ind2 {
  bottom: 26rem;
}

#ind3 {
  bottom: 24rem;
}
#navbarToggleExternalContent {
  position: absolute;
  right: 22%;
  background-color: #fff;
  color: #38B6AB;
  border: solid #38B6AB;
  border-radius: 10px;
  z-index: 1;
  width: 400px;
  height: 600px;
}
#menuab {
  list-style: none;
  font-size: 30px;
  line-height: 7rem;
  text-align: center;
  padding-left: 0;
}

.quemSomos img {
  width: 410px;
}

.quemP {
  background-color: #fff;
  font-size: 15px;
}

#quemH1 {
  text-align: center;
  color: #38B6AB;
}

.quemFaz {
  color: #38B6AB;
}

.quemFaz2 {
  margin-bottom: 0;
}

.quem-faz {
  max-width: 1800px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img-quem img {
  width: 150px;
  margin: 1rem;
  margin-top: 0;
}

.img-quem p {
  text-align: center;
  color: #005077;
}

.img-quem p span {
  display: block;
  font-weight: 600;
}

.background-quemFaz {
  background-image: url(c:/Serel/assets/img/backgorund-quemfaz.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
}

.margin-top {
  margin-top: 6rem;
}

.back-fazemos {
  background-image: url(c:/Serel/assets/img/back-fazemos.jpg);
}

#carouselExampleInterval {
  margin-top: -4rem;
  background-color: #fff;
  border-radius: 7px;
}

.carousel-item h3 {
  color: #38B6AB;
}

.carousel-item p {
  color: #005077;
}

.carousel-text {
  padding: 2rem;
}

.carousel-control-prev {
  left: -3rem;
}

.carousel-control-next {
  right: -3rem;
}

.fazemos-text h1 {
  color: #38B6AB;
}

.fazemos-text p {
  color: #fff;
}

.fazemos-text {
  margin: auto;
}

.carousel-control-prev-icon {
  background-image: url(c:/Serel/assets/img/prev.svg);
  background-size: cover;
  height: 3rem;
}

.carousel-control-next-icon {
  background-image: url(c:/Serel/assets/img/next.svg);
  background-size: cover;
  height: 3rem;
}

.hover img {
  margin: 4rem;
  padding: 12px;
  border-radius: 5px;
}

.capa {
  position: relative;
  padding: 1rem;
  margin: 2rem;
  width: 270px;
}
.capa:hover .hover{
  display: table;
}
.hover {
  background: rgba(0, 80, 119, 0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    display: none;
}

.hover p{
  color: #fff!important;
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
}

.img-parceiros img {
  width: 100%;
}

.sec-parceiros {
  background-color: #E8E7EC;
}

.text-parceiros {
  text-align: center;
}

.text-parceiros h1 {
 color: #38B6AB;
}

.text-parceiros p {
  color: #005077;
 }

 .parceiros {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
 }

.teclado {
  width: 100%;
}

.div-conheca{
  background-image: url(c:/Serel/assets/img/imgTeclado.jpg);
  height: 227px;
  background-size: contain;
  text-align: center;
}

.conheca-melhor {
  text-align: center;
  padding-top: 50px;
  color: #026A94;
}

.contato {
  padding: 10px;
  padding-right: 50px;
  padding-left: 50px;
  border-radius: 18px;
  background-color: #38B6AB;
  border: none;
  color: #fff;
  font-weight: 800;
}

.slick-track div {
  display: flex!important;
  height: auto;
  justify-content: flex-start;
}

.text-content {
  flex-direction: column;
  margin: 0!important;
}

.slick-slide {
  display: flex;
  align-items: center;
}

.text-content div {
  flex-direction: column;
}