.footer-bar{
  width: 100%;
  height: 80px;
  background-color: #0C2E41;
  display: flex;
  justify-content: center;
}

.footer-barr-content{
  color: #fff;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}

.footer-barr-content p{
  margin-bottom: 0px;
  margin-right: 10px;
  margin-left: 10px;
  font-family: Source Sans Pro;
  font-size: 24px;
}

#Banner_principal {
  background-image: url("../assets/img/BannerPrincipal.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 107%;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.menu {
  color: #38B6AB;
}

#btn_menu {
  border: none!important;
}

#btn_acesso {
  background-color: #38B6AB;
  border-radius: 0px 0px 10px 10px;
  float: right;
  margin-right: 20%;
  border: none;
  color: #fff;
  padding-right: 10px;
  padding-left: 10px;
}